<a href="https://colab.research.google.com/github/Harshita15887/SML/blob/main/Assignment7%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/book2.csv')

In [3]:
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4  Target (Y)
0        1.2        2.3        3.1        4.2        15.6
1        2.4        1.9        2.8        3.5        13.1
2        3.5        2.7        1.5        2.9        12.4
3        4.1        3.0        3.6        4.8        18.2
4        1.9        2.8        2.5        3.2        14.1
5        3.7        2.5        1.9        4.0        16.0
6        2.1        3.2        2.2        4.1        14.5
7        3.3        2.4        3.0        4.5        17.3
8        2.8        3.1        1.8        3.6        14.9
9        4.0        3.3        2.7        4.9        19.2

In [4]:
y=df['Target (Y)']

In [5]:
print(y)

0    15.6
1    13.1
2    12.4
3    18.2
4    14.1
5    16.0
6    14.5
7    17.3
8    14.9
9    19.2
Name: Target (Y), dtype: float64

In [6]:
x=df.drop('Target (Y)',axis=1)

In [7]:
print(x)

   Feature 1  Feature 2  Feature 3  Feature 4
0        1.2        2.3        3.1        4.2
1        2.4        1.9        2.8        3.5
2        3.5        2.7        1.5        2.9
3        4.1        3.0        3.6        4.8
4        1.9        2.8        2.5        3.2
5        3.7        2.5        1.9        4.0
6        2.1        3.2        2.2        4.1
7        3.3        2.4        3.0        4.5
8        2.8        3.1        1.8        3.6
9        4.0        3.3        2.7        4.9

In [8]:
w0,w1,w2,w3,w4,x0=1,1,1,1,1,1

In [9]:
yp=w0*x0+w1*(df['Feature 1'])+w2*(df['Feature 2'])+w3*(df['Feature 3'])+w4*(df['Feature 4'])

In [10]:
print(yp)

0    11.8
1    11.6
2    11.6
3    16.5
4    11.4
5    13.1
6    12.6
7    14.2
8    12.3
9    15.9
dtype: float64

In [11]:
error=y-yp
print(error)

0    3.8
1    1.5
2    0.8
3    1.7
4    2.7
5    2.9
6    1.9
7    3.1
8    2.6
9    3.3
dtype: float64

In [12]:
Mean_Square_error=(error**2).sum()/len(error)

In [13]:
print(Mean_Square_error)

6.678999999999999

In [26]:
wn0=w0-2*0.001*(error.sum()/len(error))+1
wn1=w1-2*0.001*(error).sum()/len(error)+(df['Feature 1'].sum()/len(df['Feature 1']))
wn2=w2-2*0.001*(error).sum()/len(error)+(df['Feature 2'].sum()/len(df['Feature 2']))
wn3=w3-2*0.001*(error).sum()/len(error)+(df['Feature 3'].sum()/len(df['Feature 3']))
wn4=w4-2*0.001*(error).sum()/len(error)+(df['Feature 4'].sum()/len(df['Feature 4']))

In [27]:
print(wn0)
print(wn1)
print(wn2)
print(wn3)
print(wn4)

2.0811668902222222
3.981166890222222
3.801166890222222
3.5911668902222225
5.0511668902222215

In [28]:
yp=wn0*x0+wn1*(df['Feature 1'])+wn2*(df['Feature 2'])+wn3*(df['Feature 3'])+wn4*(df['Feature 4'])

In [29]:
print(yp)

0    47.948769
1    46.592536
2    46.313536
3    66.981254
4    45.430303
5    53.342286
6    51.215703
7    57.845570
8    49.660353
9    64.996554
dtype: float64

In [30]:
error=(y-yp)
print(error)

0   -32.348769
1   -33.492536
2   -33.913536
3   -48.781254
4   -31.330303
5   -37.342286
6   -36.715703
7   -40.545570
8   -34.760353
9   -45.796554
dtype: float64

In [31]:
Mean_square_error=(error**2).sum()/len(error)

In [32]:
print(Mean_square_error)

1437.1558177681986