<a href="https://colab.research.google.com/github/Harshita15887/SML/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/Student Mental health.csv')

In [ ]:
print(df)

               Timestamp Choose your gender   Age What is your course?  \
0         8/7/2020 12:02             Female  18.0          Engineering
1         8/7/2020 12:04               Male  21.0    Islamic education
2         8/7/2020 12:05               Male  19.0                  BIT
3         8/7/2020 12:06             Female  22.0                 Laws
4         8/7/2020 12:13               Male  23.0         Mathemathics
..                   ...                ...   ...                  ...
96   13/07/2020 19:56:49             Female  21.0                  BCS
97   13/07/2020 21:21:42               Male  18.0          Engineering
98   13/07/2020 21:22:56             Female  19.0             Nursing
99   13/07/2020 21:23:57             Female  23.0     Pendidikan Islam
100  18/07/2020 20:16:21               Male  20.0   Biomedical science

    Your current year of Study What is your CGPA? Marital status  \
0                       year 1        3.00 - 3.49             No
1                       year 2        3.00 - 3.49             No
2                       Year 1        3.00 - 3.49             No
3                       year 3        3.00 - 3.49            Yes
4                       year 4        3.00 - 3.49             No
..                         ...                ...            ...
96                      year 1        3.50 - 4.00             No
97                      Year 2        3.00 - 3.49             No
98                      Year 3        3.50 - 4.00            Yes
99                      year 4        3.50 - 4.00             No
100                     Year 2        3.00 - 3.49             No

    Do you have Depression? Do you have Anxiety? Do you have Panic attack?  \
0                       Yes                   No                       Yes
1                        No                  Yes                        No
2                       Yes                  Yes                       Yes
3                       Yes                   No                        No
4                        No                   No                        No
..                      ...                  ...                       ...
96                       No                  Yes                        No
97                      Yes                  Yes                        No
98                      Yes                   No                       Yes
99                       No                   No                        No
100                      No                   No                        No

    Did you seek any specialist for a treatment?
0                                             No
1                                             No
2                                             No
3                                             No
4                                             No
..                                           ...
96                                            No
97                                            No
98                                            No
99                                            No
100                                           No

[101 rows x 11 columns]

In [4]:
y=df['Did you seek any specialist for a treatment?']

In [5]:
print(y)

0      No
1      No
2      No
3      No
4      No
       ..
96     No
97     No
98     No
99     No
100    No
Name: Did you seek any specialist for a treatment?, Length: 101, dtype: object

In [6]:
x=df.drop('Did you seek any specialist for a treatment?',axis=1)

In [7]:
print(x)

               Timestamp Choose your gender   Age What is your course?  \
0         8/7/2020 12:02             Female  18.0          Engineering
1         8/7/2020 12:04               Male  21.0    Islamic education
2         8/7/2020 12:05               Male  19.0                  BIT
3         8/7/2020 12:06             Female  22.0                 Laws
4         8/7/2020 12:13               Male  23.0         Mathemathics
..                   ...                ...   ...                  ...
96   13/07/2020 19:56:49             Female  21.0                  BCS
97   13/07/2020 21:21:42               Male  18.0          Engineering
98   13/07/2020 21:22:56             Female  19.0             Nursing
99   13/07/2020 21:23:57             Female  23.0     Pendidikan Islam
100  18/07/2020 20:16:21               Male  20.0   Biomedical science

    Your current year of Study What is your CGPA? Marital status  \
0                       year 1        3.00 - 3.49             No
1                       year 2        3.00 - 3.49             No
2                       Year 1        3.00 - 3.49             No
3                       year 3        3.00 - 3.49            Yes
4                       year 4        3.00 - 3.49             No
..                         ...                ...            ...
96                      year 1        3.50 - 4.00             No
97                      Year 2        3.00 - 3.49             No
98                      Year 3        3.50 - 4.00            Yes
99                      year 4        3.50 - 4.00             No
100                     Year 2        3.00 - 3.49             No

    Do you have Depression? Do you have Anxiety? Do you have Panic attack?
0                       Yes                   No                       Yes
1                        No                  Yes                        No
2                       Yes                  Yes                       Yes
3                       Yes                   No                        No
4                        No                   No                        No
..                      ...                  ...                       ...
96                       No                  Yes                        No
97                      Yes                  Yes                        No
98                      Yes                   No                       Yes
99                       No                   No                        No
100                      No                   No                        No

[101 rows x 10 columns]

In [8]:
data=['Do you have Depression?','Do you have Anxiety?','Do you have Panic attack?','Did you seek any specialist for a treatment?']

In [9]:
df[data]=df[data].replace({'Yes': 1, 'No': 0})

In [10]:
print(df)

               Timestamp Choose your gender   Age What is your course?  \
0         8/7/2020 12:02             Female  18.0          Engineering
1         8/7/2020 12:04               Male  21.0    Islamic education
2         8/7/2020 12:05               Male  19.0                  BIT
3         8/7/2020 12:06             Female  22.0                 Laws
4         8/7/2020 12:13               Male  23.0         Mathemathics
..                   ...                ...   ...                  ...
96   13/07/2020 19:56:49             Female  21.0                  BCS
97   13/07/2020 21:21:42               Male  18.0          Engineering
98   13/07/2020 21:22:56             Female  19.0             Nursing
99   13/07/2020 21:23:57             Female  23.0     Pendidikan Islam
100  18/07/2020 20:16:21               Male  20.0   Biomedical science

    Your current year of Study What is your CGPA? Marital status  \
0                       year 1        3.00 - 3.49             No
1                       year 2        3.00 - 3.49             No
2                       Year 1        3.00 - 3.49             No
3                       year 3        3.00 - 3.49            Yes
4                       year 4        3.00 - 3.49             No
..                         ...                ...            ...
96                      year 1        3.50 - 4.00             No
97                      Year 2        3.00 - 3.49             No
98                      Year 3        3.50 - 4.00            Yes
99                      year 4        3.50 - 4.00             No
100                     Year 2        3.00 - 3.49             No

     Do you have Depression?  Do you have Anxiety?  Do you have Panic attack?  \
0                          1                     0                          1
1                          0                     1                          0
2                          1                     1                          1
3                          1                     0                          0
4                          0                     0                          0
..                       ...                   ...                        ...
96                         0                     1                          0
97                         1                     1                          0
98                         1                     0                          1
99                         0                     0                          0
100                        0                     0                          0

     Did you seek any specialist for a treatment?
0                                               0
1                                               0
2                                               0
3                                               0
4                                               0
..                                            ...
96                                              0
97                                              0
98                                              0
99                                              0
100                                             0

[101 rows x 11 columns]

In [11]:
y=df['Did you seek any specialist for a treatment?']

In [12]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
96     0
97     0
98     0
99     0
100    0
Name: Did you seek any specialist for a treatment?, Length: 101, dtype: int64

In [13]:
x=df.drop('Did you seek any specialist for a treatment?',axis=1)

In [14]:
print(x)

               Timestamp Choose your gender   Age What is your course?  \
0         8/7/2020 12:02             Female  18.0          Engineering
1         8/7/2020 12:04               Male  21.0    Islamic education
2         8/7/2020 12:05               Male  19.0                  BIT
3         8/7/2020 12:06             Female  22.0                 Laws
4         8/7/2020 12:13               Male  23.0         Mathemathics
..                   ...                ...   ...                  ...
96   13/07/2020 19:56:49             Female  21.0                  BCS
97   13/07/2020 21:21:42               Male  18.0          Engineering
98   13/07/2020 21:22:56             Female  19.0             Nursing
99   13/07/2020 21:23:57             Female  23.0     Pendidikan Islam
100  18/07/2020 20:16:21               Male  20.0   Biomedical science

    Your current year of Study What is your CGPA? Marital status  \
0                       year 1        3.00 - 3.49             No
1                       year 2        3.00 - 3.49             No
2                       Year 1        3.00 - 3.49             No
3                       year 3        3.00 - 3.49            Yes
4                       year 4        3.00 - 3.49             No
..                         ...                ...            ...
96                      year 1        3.50 - 4.00             No
97                      Year 2        3.00 - 3.49             No
98                      Year 3        3.50 - 4.00            Yes
99                      year 4        3.50 - 4.00             No
100                     Year 2        3.00 - 3.49             No

     Do you have Depression?  Do you have Anxiety?  Do you have Panic attack?
0                          1                     0                          1
1                          0                     1                          0
2                          1                     1                          1
3                          1                     0                          0
4                          0                     0                          0
..                       ...                   ...                        ...
96                         0                     1                          0
97                         1                     1                          0
98                         1                     0                          1
99                         0                     0                          0
100                        0                     0                          0

[101 rows x 10 columns]